HELP.md
./backend/.gradle
./backend/build/
./backend/!gradle/wrapper/gradle-wrapper.jar
./backend/!**/src/main/**/build/
./backend/!**/src/test/**/build/

./backend/### STS ###
./backend/.apt_generated
./backend/.classpath
./backend/.factorypath
./backend/.project
./backend/.settings
./backend/.springBeans
./backend/.sts4-cache
./backend/bin/
./backend/!**/src/main/**/bin/
./backend/!**/src/test/**/bin/

./backend/### IntelliJ IDEA ###
./backend/.idea
./backend/*.iws
./backend/*.iml
./backend/*.ipr
./backend/out/
./backend/!**/src/main/**/out/
./backend/!**/src/test/**/out/

### NetBeans ###
./frontend/nbproject/private/
./frontend/nbbuild/
./frontend/dist/
./frontend/nbdist/
./frontend/.nb-gradle/
### VS Code ###
./frontend/.vscode/
# See http://help.github.com/ignore-files/ for more about ignoring files.
# Compiled output
./frontend/dist
./frontend/tmp
./frontend/out-tsc
./frontend/bazel-out

# Node
./frontend/node_modules
./frontend/npm-debug.log
./frontend/yarn-error.log

# IDEs and editors
./frontend/.idea/
./frontend/.project
./frontend/.classpath
./frontend/.c9/
./frontend/*.launch
./frontend/.settings/
./frontend/*.sublime-workspace

# Visual Studio Code
./frontend/.vscode/*
./frontend/!.vscode/settings.json
./frontend/!.vscode/tasks.json
./frontend/!.vscode/launch.json
./frontend/!.vscode/extensions.json
./frontend/.history/*

# Miscellaneous
./frontend/.angular/cache
./frontend/.sass-cache/
./frontend/connect.lock
./frontend/coverage
./frontend/libpeerconnection.log
./frontend/testem.log
./frontend/typings

# System files
./frontend/.DS_Store
./frontend/Thumbs.db

backend/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
